################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/dotnet/.vs/PROJETO_ESTOQUE_LOJA/config
/dotnet/.vs/PROJETO_ESTOQUE_LOJA/v16/Server/sqlite3
/dotnet/.vs/ESO.PROJETOS/config
/dotnet/.vs/ESO.PROJETOS/v16/Server/sqlite3
/dotnet/.vs
