<mat-form-field>
    <mat-label>Informe o Tipo</mat-label>
    <input matInput [matAutocomplete]="auto" [formControl]="frmCtrlTipoTurma">
    <mat-icon matSuffix><i class="glyphicon glyphicon-search"></i></mat-icon>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSelectionChanged($event)">
        <mat-option *ngFor="let item of filteredOptions | async" [value]="item">
            <i class="fa fa-user" height="25" style="vertical-align: middle;margin-right: 8px;"></i>
            <span>{{item.TIP_TUR_DESCRICAO}}</span> |
            <small> ID: {{item.TIP_TUR_ID}}</small>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>