<mat-form-field appearance="fill">
    <mat-label>Curso</mat-label>
    <input matInput [matAutocomplete]="auto" [formControl]="frmCtrl">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSelectionChanged($event)">
        <mat-option *ngFor="let item of filteredOptions | async" [value]="item">
            <i class="fa fa-user" height="25" style="vertical-align: middle;margin-right: 8px;"></i>
            <span>{{item.CUR_NOME}}</span> |
            <small> ID: {{item.CUR_ID}}</small>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>