<form [formGroup]="turmaForm">
    <div class="padding content">
        <div class="box box-warning direct-chat direct-chat-warning">
            <div class="box-header with-border">
                <h3 class="box-title"> <span class="glyphicon glyphicon glyphicon-edit "></span> Turma </h3>
                <div class="box-tools pull-right">
                    <a [routerLink]='["/turma"]' class="btn btn-box-tool"><i
                            class="glyphicon glyphicon-share-alt"></i></a>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" title="Minimizar">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" title="Fechar">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <app-formheader (salvar)="salvar($event)" (excluir)="excluir($event)" (refresh)="refresh($event)">
            </app-formheader>
            <div class="box-body">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-2">
                            <mat-form-field >
                                <mat-label>Código</mat-label>
                                <input matInput formControlName="TUR_ID">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-5">
                            <mat-form-field >
                                <mat-label>Nome da Turma</mat-label>
                                <input matInput formControlName="TUR_NOME">
                            </mat-form-field>
                        </div>
                       <div class="col-lg-5">
                            <app-findcurso [curID]="turmaForm.value.CUR_ID" (setID)="setCursoID($event)">
                            </app-findcurso>
                        </div>
                    </div>    
             
                    <div class="row">
                        <div class="col-lg-2">
                            <mat-form-field >
                                <mat-label>Ano/Série/Módulo/Período</mat-label>
                                <input matInput formControlName="SER_ID">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2">
                            <app-findPeriodo [perID]="turmaForm.value.PER_ID" (setID)="setID($event)"></app-findPeriodo>
                        </div>
                        <div class="col-lg-2">
                            <mat-form-field >
                                <mat-label>Ano Letivo</mat-label>
                                <input matInput formControlName="TUR_ANOLETIVO">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2">
                            <mat-form-field >
                                <mat-label>Ano Grade</mat-label>
                                <input matInput formControlName="TUR_ANOGRADE">
                            </mat-form-field>
                        </div>

                        <div class="col-lg-2">
                            <mat-form-field >
                                <mat-label>Data Inicio</mat-label>
                                <input matInput formControlName="TUR_DATINI">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2">
                            <mat-form-field >
                                <mat-label>Data Final</mat-label>
                                <input matInput formControlName="TUR_DATFIM">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <app-findTipoTurma [tturID]="turmaForm.value.TIP_TUR_ID" (setID)="setID($event)">
                            </app-findTipoTurma>
                        </div>
                        <div class="col-lg-3">
                            <app-findsala [salID]="turmaForm.value.SAL_ID" (setID)="setSalaID($event)"></app-findsala>
                        </div>
                        <div class="col-lg-2">
                            <mat-form-field >
                                <mat-label>Qtde Alunos</mat-label>
                                <input matInput formControlName="TUR_QTDEALUNOS">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4">
                            <app-findempresa [empID]="turmaForm.value.EMP_ID" (setID)="setID($event)"></app-findempresa>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <a type="button" class="btn btn-default" [routerLink]='["/turma"]' style="margin-right: 5px;">
                    <span class="glyphicon glyphicon-chevron-left blue"></span> Fechar
                </a>
                <button type="button" class="btn btn-success" (click)="salvar()">
                    <span class="glyphicon glyphicon-floppy-save blue"></span> Salvar
                </button>
            </div>
        </div>
    </div>
</form>