<div class="box-header with-border">
    <button type="button" class="btn btn-box-tool" title="Salvar registro" (click)="emitSalvar()">
        <span class="glyphicon glyphicon-floppy-save blue"></span>
    </button>
    <button type="button" class="btn btn-box-tool" title="Refresh" (click)="emitRefresh()">
        <span class="glyphicon glyphicon-refresh blue"></span>
    </button>
    <button type="button" class="btn btn-box-tool" title="Excluir" (click)="emitExcluir()">
        <i class="fa fa-times" style="color:red;"></i>
    </button>
    <button type="button" class="btn btn-box-tool" title="Pesquisar" (click)="emitReturn()">
        <span class="glyphicon glyphicon-search "></span>
    </button>
</div>
