.filtroPesquisa {
    border-bottom: 1px solid rgb(231, 230, 230) !important; 
    border-bottom-right-radius: 0px !important; 
    border-bottom-left-radius: 0px !important; 
    box-shadow:none !important;
  }

  mat-form-field {
    padding-left: 0px;
    width: 100%;
    display: flex;
  }


