<form [formGroup]="frmctrl">
    <div class="row" style="padding-bottom:10px;">
        <div class="col-lg-5" style="padding-left:20px !Important;">
            <mat-form-field>
                <mat-label>Informe o nome da turma</mat-label>
                <input matInput formControlName="TUR_NOME">
            </mat-form-field>
        </div>
        <div class="col-lg-2">

        </div>
        <div class="col-lg-5" style="padding-top:3px; padding-left:0px;" >
            <a href="javascript:void" (click)="setStep(1)" class="btn btn-default btn-icon" style="float:right;"
                title="Mais filtros" *ngIf="step==0">
                <span class="glyphicon glyphicon-plus red"></span><strong> Mais filtros</strong>
            </a>
            <a href="javascript:void" (click)="setStep(0)" class="btn btn-default btn-icon" style="float:right;"
                title="Mais filtros" *ngIf="step>0">
                <span class="glyphicon glyphicon-minus red"></span><strong> Menos filtros</strong>
            </a>

            <a href="javascript:void(0)" (click)="limparFiltros()" class="btn btn-default btn-icon"
                style="font-size: 14px; float:right;" title="Limpar filtros">
                <span class="glyphicon glyphicon-remove text-danger"></span>
            </a>
            <a href="javascript:void" class="btn btn-default btn-icon" (click)="emitPesquisar()"
                style="font-size: 14px; float:right;" title="Pesquisar">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </div>
    </div>

    <mat-accordion >
        <mat-expansion-panel class="filtroPesquisa" [expanded]="step > 0">
            <div class="row">
                <div class="col-lg-4" style="padding-left:0px !Important;">
                    <app-findPeriodo (setID)="setPeriodoID($event)"></app-findPeriodo>
                </div>
                <div class="col-lg-4" style="padding-left:0px !Important;">
                    <app-findcurso (setID)="setCursoID($event)"></app-findcurso>
                </div>
                <div class="col-lg-4" style="padding-left:0px !Important;">
                    <app-findTipoTurma (setID)="setTipoTurmaID($event)"></app-findTipoTurma>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</form>