<form class="form-signin" [formGroup]="frmProduto">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Lista de Produtos</h1>
            </div>
            <div class="row">
                <div class="text-center col-lg-12">
                    <p>Informe abaixo os parametros para a pesquisa.</p>
                </div>
                <div class="col-lg-3">
                    <div class="form-label-group">
                        <input id="id" class="form-control" placeholder="Email" formControlName="PRO_ID" >
                        <label for="id">informe o id </label>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="form-label-group">
                        <input type="text" id="Nome" class="form-control" placeholder="Nome do Produto"
                            formControlName="PRO_DESCRICAO">
                        <label for="Nome">Informe o nome do produto</label>
                    </div>
                </div>
                <div class="col-lg-2">
                    <a href="javascript:void(0)" class="btn btn-lg btn-secondary btn-block"
                        (click)="listar()">
                        <span class="fa fa-search"></span> 
                    </a>
                </div>
              
            </div>
            <div class="text-center col-lg-12" *ngIf="!lstproduto || lstproduto.length < 1">
                <h4>Nenhum registro foi encontrado.</h4>
            </div>

            <div class="panel-body" *ngIf="lstproduto" style="height: 200px; overflow:auto;">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                            <th class="text-right">ID</th>
                            <th>Descrição</th>
                            <th class="text-right">Pr. Unitário</th>
                            <th class="text-right">Margem</th>
                            <th class="text-right">Estoque</th>
                            <th class="text-center">Opções</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of lstproduto">
                                <td class="text-right">{{item.PRO_ID}}</td>
                                <td>{{item.PRO_DESCRICAO}}</td>
                                <td class="text-right">{{item.PRO_VLR_UN | currency:"BRL":"symbol"}}</td>
                                <td class="text-right">{{item.PRO_MARGEM_LUCRO}}</td>
                                <td class="text-right">{{item.PRO_QTD_ESTOQUE}}</td>
                                <td class="text-center">
                                    <a href="javascript:void(0)" style="padding-right: 5px;"
                                        title="Editar registro selecionado"
                                        [routerLink]="['/produto/editar-produto',item.PRO_ID]">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr />
            <a href="javascript:void(0)" class="btn btn-lg btn-secondary btn-block" *ngIf="admin==true"
                [routerLink]="['/produto/incluir-produto']">
                <span class="fa fa-plus-square"></span> Novo
            </a>
            <a href="javascript:void(0)" class="btn btn-lg btn-success btn-block" [routerLink]="['/home']">
                <span class="fa fa-reply"></span> Voltar
            </a>
        </div>
    </div>
</form>